<% if resource.errors.any? %>
  <div class="rounded-md border border-red-200 bg-red-50 p-3 text-sm text-red-800">
    <p class="font-semibold"><%= pluralize(resource.errors.count, "error") %> prevented saving:</p>
    <ul class="mt-1 list-disc pl-5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

