<h1>Set Your Password</h1>

<p>You're receiving this email because a team member invited you to DevDeBizz or requested a fresh account setup link.</p>

<p>Use the button below to create your password and activate your access.</p>

<p>
  <%= link_to "Set Password", edit_password_url(@resource, reset_password_token: @token), class: "cta-button" %>
</p>

<div class="info-box">
  <p><strong>Account:</strong> <%= @resource.email %></p>
  <p>This link will expire in <%= Devise.reset_password_within.inspect %>.</p>
</div>

<p>If the button does not work, copy and paste this link into your browser:</p>

<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>
