<% unread = unread.to_i %>
<% if unread.positive? %>
  <span class="relative inline-flex h-2.5 w-2.5" aria-hidden="true">
    <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-red-400 opacity-75"></span>
    <span class="relative inline-flex h-2.5 w-2.5 rounded-full bg-red-500 ring-2 ring-white"></span>
  </span>
  <span class="sr-only"><%= unread %> unread</span>
<% end %>
